%btn {
  outline: none;
  border: none;
  background: transparent;
  padding: 1rem 2rem;
  text-decoration: none;
  color: inherit;
  font-size: 1.8rem;
  font-family: inherit;
  font-weight: 600;
  display: inline-block;
}
