@function breakpoints() {
  @return "0";
}

// Mixin background

@mixin background($name, $hex) {
  .bg-#{$name} {
    background: $hex;
  }

  @for $i from 1 through 5 {
    .bg-#{$name}.lighten-#{$i} {
      background: lighten($color: $hex, $amount: $i * 6);
    }
  }

  @for $i from 1 through 4 {
    .bg-#{$name}.darken-#{$i} {
      background: darken($color: $hex, $amount: $i * 6);
    }
  }
}
