// Grid layout

$grid-columns: 12;

$grid-rows: 6;

$grid-gutter-width: 10px;

$grid-breakpoints: (
  // // Extra small screen / phone
  xs: 480px,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1200px
);

$container-max-widths: (
  xs: 480px,
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
);
