// Bg color

.bg-inherit {
  background: inherit;
}

.bg-current {
  background: currentColor;
}

.bg-transparent {
  background: transparent;
}

.bg-primary {
  background: var(--primary-color);
}

.bg-second {
  background: var(--second-color);
}

.bg-third {
  background: var(--third-color);
}

.bg-white {
  background: $white;
}

.bg-black {
  background: $black;
}

@each $name, $colorHEX in $colors-list {
  .bg-#{$name} {
    background: $colorHEX;
  }

  @for $i from 1 through 5 {
    .bg-#{$name}.lighten-#{$i} {
      background: lighten($color: $colorHEX, $amount: $i * 6);
    }
  }

  @for $i from 1 through 4 {
    .bg-#{$name}.darken-#{$i} {
      background: darken($color: $colorHEX, $amount: $i * 6);
    }
  }
}

@each $namePreSelector in $preSelectors {
  .#{$namePreSelector} {
    &-bg-primary:#{$namePreSelector} {
      background: var(--primary-color);
    }

    &-bg-second:#{$namePreSelector} {
      background: var(--second-color);
    }

    &-bg-third:#{$namePreSelector} {
      background: var(--third-color);
    }

    &-bg-white:#{$namePreSelector} {
      background: $white;
    }

    &-bg-black:#{$namePreSelector} {
      background: $black;
    }

    @each $name, $colorHEX in $colors-list {
      &-bg-#{$name}:#{$namePreSelector} {
        background: $colorHEX;
      }

      @for $i from 1 through 5 {
        &-bg-#{$name}.lighten-#{$i}:#{$namePreSelector} {
          background: lighten($color: $colorHEX, $amount: $i * 6);
        }
      }

      @for $i from 1 through 4 {
        &-bg-#{$name}.darken-#{$i}:#{$namePreSelector} {
          background: darken($color: $colorHEX, $amount: $i * 6);
        }
      }
    }
  }
}

// Bg attachment

.bg-fixed {
  background-attachment: fixed;
}

.bg-local {
  background-attachment: local;
}

.bg-scroll {
  background-attachment: scroll;
}

@each $name, $width in $grid-breakpoints {
  @media (min-width:#{$width}) {
    .#{$name}-bg-fixed {
      background-attachment: fixed;
    }

    .#{$name}-bg-local {
      background-attachment: local;
    }

    .#{$name}-bg-scroll {
      background-attachment: scroll;
    }
  }
}

// Bg Clip

.bg-clip-border {
  background-clip: border-box;
}

.bg-clip-padding {
  background-clip: padding-box;
}

.bg-clip-content {
  background-clip: content-box;
}

.bg-clip-text {
  background-clip: text;
}

@each $name, $width in $grid-breakpoints {
  @media (min-width:#{$width}) {
    .#{$name}-bg-clip-border {
      background-clip: border-box;
    }

    .#{$name}-bg-clip-padding {
      background-clip: padding-box;
    }

    .#{$name}-bg-clip-content {
      background-clip: content-box;
    }

    .#{$name}-bg-clip-text {
      background-clip: text;
    }
  }
}

// Bg position

.bg-bottom {
  background-position: bottom;
}

.bg-center {
  background-position: center;
}

.bg-left {
  background-position: left;
}

.bg-left-bottom {
  background-position: left bottom;
}

.bg-left-top {
  background-position: left top;
}

.bg-right {
  background-position: right;
}

.bg-right-bottom {
  background-position: right bottom;
}

.bg-right-top {
  background-position: right top;
}

.bg-top {
  background-position: top;
}

@each $name, $width in $grid-breakpoints {
  @media (min-width:#{$width}) {
    .#{$name}-bg-bottom {
      background-position: bottom;
    }

    .#{$name}-bg-center {
      background-position: center;
    }

    .#{$name}-bg-left {
      background-position: left;
    }

    .#{$name}-bg-left-bottom {
      background-position: left bottom;
    }

    .#{$name}-bg-left-top {
      background-position: left top;
    }

    .#{$name}-bg-right {
      background-position: right;
    }

    .#{$name}-bg-right-bottom {
      background-position: right bottom;
    }

    .#{$name}-bg-right-top {
      background-position: right top;
    }

    .#{$name}-bg-top {
      background-position: top;
    }
  }
}

// Bg repeat

.bg-repeat {
  background-repeat: repeat;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.bg-repeat-x {
  background-repeat: repeat-x;
}

.bg-repeat-y {
  background-repeat: repeat-y;
}

.bg-repeat-round {
  background-repeat: round;
}

.bg-repeat-space {
  background-repeat: space;
}

@each $name, $width in $grid-breakpoints {
  @media (min-width:#{$width}) {
    .#{$name}-bg-repeat {
      background-repeat: repeat;
    }

    .#{$name}-bg-no-repeat {
      background-repeat: no-repeat;
    }

    .#{$name}-bg-repeat-x {
      background-repeat: repeat-x;
    }

    .#{$name}-bg-repeat-y {
      background-repeat: repeat-y;
    }

    .#{$name}-bg-repeat-round {
      background-repeat: round;
    }

    .#{$name}-bg-repeat-space {
      background-repeat: space;
    }
  }
}

// Bg Size

.bg-auto {
  background-size: auto;
}

.bg-cover {
  background-size: cover;
}

.bg-contain {
  background-size: contain;
}

@each $name, $width in $grid-breakpoints {
  @media (min-width:#{$width}) {
    .#{$name}-bg-auto {
      background-size: auto;
    }

    .#{$name}-bg-cover {
      background-size: cover;
    }

    .#{$name}-bg-contain {
      background-size: contain;
    }
  }
}
