.opacity {
  @for $i from 0 through 20 {
    &-#{$i * 5} {
      opacity: $i * 0.05;
    }
  }
}

.hover {
  &-opacity {
    @for $i from 0 through 20 {
      &-#{$i * 5}:hover {
        opacity: $i * 0.05;
      }
    }
  }
}

.focus {
  &-opacity {
    @for $i from 0 through 20 {
      &-#{$i * 5}:focus {
        opacity: $i * 0.05;
      }
    }
  }
}

.active {
  &-opacity {
    @for $i from 0 through 20 {
      &-#{$i * 5}:active {
        opacity: $i * 0.05;
      }
    }
  }
}

@each $name, $width in $grid-breakpoints {
  @media (min-width:#{$width}) {
    .#{$name} {
      &-opacity {
        @for $i from 0 through 20 {
          &-#{$i * 5} {
            opacity: $i * 0.05;
          }
        }
      }

      &-hover {
        &-opacity {
          @for $i from 0 through 20 {
            &-#{$i * 5}:hover {
              opacity: $i * 0.05;
            }
          }
        }
      }

      &-focus {
        &-opacity {
          @for $i from 0 through 20 {
            &-#{$i * 5}:focus {
              opacity: $i * 0.05;
            }
          }
        }
      }

      &-active {
        &-opacity {
          @for $i from 0 through 20 {
            &-#{$i * 5}:active {
              opacity: $i * 0.05;
            }
          }
        }
      }
    }
  }
}
