$directions: (
  "l": "left",
  "r": "right",
  "t": "top",
  "b": "bottom",
);

$to: 50;

.p {
  &-auto {
    padding: auto;
  }

  &x-auto {
    padding: {
      left: auto;
      right: auto;
    }
  }

  &y-auto {
    padding: {
      top: auto;
      bottom: auto;
    }
  }

  @each $dirName, $dirValue in $directions {
    &#{$dirName}-auto {
      padding-#{$dirValue}: auto;
    }
  }

  @for $size from 1 to 10 {
    &-#{$size}px {
      padding: #{$size}px;
    }

    &x-#{$size}px {
      padding-left: #{$size}px;
      padding-right: #{$size}px;
    }

    &y-#{$size}px {
      padding-top: #{$size}px;
      padding-bottom: #{$size}px;
    }

    @each $dirName, $dirValue in $directions {
      &#{$dirName}-#{$size}px {
        padding-#{$dirValue}: #{$size}px;
      }
    }
  }

  @for $size from 0 through $to {
    &-#{$size} {
      padding: #{$size}rem;
    }

    &x-#{$size} {
      padding-left: #{$size}rem;
      padding-right: #{$size}rem;
    }

    &y-#{$size} {
      padding-top: #{$size}rem;
      padding-bottom: #{$size}rem;
    }

    @each $dirName, $dirValue in $directions {
      &#{$dirName}-#{$size} {
        padding-#{$dirValue}: #{$size}rem;
      }
    }
  }
}

@each $name, $width in $grid-breakpoints {
  @media (min-width: #{$width}) {
    .#{$name}-p {
      &-auto {
        padding: auto;
      }

      &x-auto {
        padding: {
          left: auto;
          right: auto;
        }
      }

      &y-auto {
        padding: {
          top: auto;
          bottom: auto;
        }
      }

      @each $dirName, $dirValue in $directions {
        &#{$dirName}-auto {
          padding-#{$dirValue}: auto;
        }
      }

      @for $size from 1 to 10 {
        &-#{$size}px {
          padding: #{$size}px;
        }

        &x-#{$size}px {
          padding-left: #{$size}px;
          padding-right: #{$size}px;
        }

        &y-#{$size}px {
          padding-top: #{$size}px;
          padding-bottom: #{$size}px;
        }

        @each $dirName, $dirValue in $directions {
          &#{$dirName}-#{$size}px {
            padding-#{$dirValue}: #{$size}px;
          }
        }
      }

      @for $size from 0 through $to {
        &-#{$size} {
          padding: #{$size}rem;
        }

        &x-#{$size} {
          padding-left: #{$size}rem;
          padding-right: #{$size}rem;
        }

        &y-#{$size} {
          padding-top: #{$size}rem;
          padding-bottom: #{$size}rem;
        }

        @each $dirName, $dirValue in $directions {
          &#{$dirName}-#{$size} {
            padding-#{$dirValue}: #{$size}rem;
          }
        }
      }
    }
  }
}
