// Tags

h1.small {
  font-size: 3.2rem;
}

h2.small {
  font-size: 2.56rem;
}

h3.small {
  font-size: 2.24rem;
}

h4.small {
  font-size: 1.6rem;
}

h5.small {
  font-size: 2rem;
}

h6.small {
  font-size: 1.28rem;
}

// Text overflow

.text-truncate {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.text-ellipsis {
  text-overflow: ellipsis;
}

.text-clip {
  text-overflow: clip;
}

// Text indent

.indent {
  @for $size from 1 to 40 {
    &-#{$size} {
      text-indent: #{$size}px;
    }
  }
}

// Text transform

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.normal-case {
  text-transform: none;
}

// Text Align

.text {
  &-center {
    text-align: center;
  }

  &-left {
    text-align: left;
  }

  &-right {
    text-align: right;
  }

  &-justify {
    text-align: justify;
  }
}

@each $name, $width in $grid-breakpoints {
  @media (min-width:#{$width}) {
    .#{$name}-text {
      &-center {
        text-align: center;
      }

      &-left {
        text-align: left;
      }

      &-right {
        text-align: right;
      }

      &-justify {
        text-align: justify;
      }
    }
  }
}

// Text Color

.text-inherit {
  color: inherit !important;
}

.text-transparent {
  color: transparent !important;
}

.text-primary {
  color: var(--primary) !important;
}

@each $name, $colorHEX in $colors-list {
  .text-#{$name} {
    color: $colorHEX !important;
  }
}

.text-white {
  color: $white !important;
}

.text-black {
  color: $black !important;
}

// Font size

.text {
  &-small {
    font-size: 1.2rem;
  }

  &-base {
    font-size: 1.6rem;
  }

  &-large {
    font-size: 2rem;
  }

  $sizes: (
    1,
    2,
    3,
    4,
    5,
    6,
    7,
    8,
    9,
    10,
    11,
    12,
    14,
    16,
    18,
    20,
    24,
    28,
    32,
    36,
    40,
    52,
    56,
    60,
    64,
    72,
    80,
    96
  );

  @each $size in $sizes {
    &-#{$size} {
      font-size: #{$size}px;
    }
  }

  @each $name, $width in $grid-breakpoints {
    // .text-md-12

    @media (min-width:#{$width}) {
      @each $size in $sizes {
        &-#{$name}-#{$size} {
          font-size: #{$size}px;
        }
      }
    }
  }
}

// Vertical align

.align-baseline {
  vertical-align: baseline;
}

.align-top {
  vertical-align: top;
}

.align-middle {
  vertical-align: middle;
}

.align-bottom {
  vertical-align: bottom;
}

.align-text-top {
  vertical-align: text-top;
}

.align-text-bottom {
  vertical-align: text-bottom;
}

.align-sub {
  vertical-align: sub;
}

.align-super {
  vertical-align: super;
}

// White space

.whitespace-normal {
  white-space: normal;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.whitespace-pre {
  white-space: pre;
}

.whitespace-pre-line {
  white-space: pre-line;
}

.whitespace-pre-wrap {
  white-space: pre-wrap;
}

// Word break

.break-normal {
  overflow-wrap: normal;
  word-break: normal;
}

.break-words {
  overflow-wrap: break-word;
}

.break-all {
  word-break: break-all;
}

// Text decoration

.underline {
  text-decoration: underline;
}

.overline {
  text-decoration: overline;
}

.no-underline {
  text-decoration: none;
}

.line-through {
  text-decoration-line: line-through;
}

// Content

.content-none {
  content: "";
}

// Text decoration color

.decoration-inherit {
  text-decoration-color: inherit !important;
}

.decoration-transparent {
  text-decoration-color: transparent !important;
}

.decoration-primary {
  text-decoration-color: var(--primary) !important;
}

@each $name, $colorHEX in $colors-list {
  .decoration-#{$name} {
    text-decoration-color: $colorHEX !important;
  }
}

.decoration-white {
  text-decoration-color: $white !important;
}

.decoration-black {
  text-decoration-color: $black !important;
}

// Text decoration style

.decoration-solid {
  text-decoration-style: solid;
}

.decoration-double {
  text-decoration-style: double;
}

.decoration-dotted {
  text-decoration-style: dotted;
}

.decoration-dashed {
  text-decoration-style: dashed;
}

.decoration-wavy {
  text-decoration-style: wavy;
}

// Text Decoration Thickness

.decoration-auto {
  text-decoration-thickness: auto;
}

.decoration-from-font {
  text-decoration-thickness: from-font;
}

.decoration-0 {
  text-decoration-thickness: 0px;
}

.decoration-1 {
  text-decoration-thickness: 1px;
}

.decoration-2 {
  text-decoration-thickness: 2px;
}

.decoration-4 {
  text-decoration-thickness: 4px;
}

.decoration-8 {
  text-decoration-thickness: 8px;
}

// Text underline offset

.underline-offset-auto {
  text-underline-offset: auto;
}

.underline-offset-0 {
  text-underline-offset: 0px;
}

.underline-offset-1 {
  text-underline-offset: 1px;
}

.underline-offset-2 {
  text-underline-offset: 2px;
}

.underline-offset-4 {
  text-underline-offset: 4px;
}

.underline-offset-8 {
  text-underline-offset: 8px;
}

// Font weight

.font {
  &-thin {
    font-weight: 100;
  }

  &-extralight {
    font-weight: 200;
  }

  &-light {
    font-weight: 300;
  }

  &-normal {
    font-weight: 400;
  }

  &-medium {
    font-weight: 500;
  }

  &-semibold {
    font-weight: 600;
  }

  &-bold {
    font-weight: 700;
  }

  &-extrabold {
    font-weight: 800;
  }

  &-black {
    font-weight: 900;
  }
}

@each $name, $width in $grid-breakpoints {
  @media (min-width:#{$width}) {
    @for $size from 1 through 9 {
      .#{$name}-font {
        &-thin {
          font-weight: 100;
        }

        &-extralight {
          font-weight: 200;
        }

        &-light {
          font-weight: 300;
        }

        &-normal {
          font-weight: 400;
        }

        &-medium {
          font-weight: 500;
        }

        &-semibold {
          font-weight: 600;
        }

        &-bold {
          font-weight: 700;
        }

        &-extrabold {
          font-weight: 800;
        }

        &-black {
          font-weight: 900;
        }
      }
    }
  }
}

// Font Smoothing

.antialised {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.subpixel-antialiased {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

// Font style

.italic {
  font-style: italic;
}

.not-italic {
  font-style: normal;
}

// Font Variant Numeric

.normal-nums {
  font-variant-numeric: normal;
}

.ordinal {
  font-variant-numeric: ordinal;
}

.slashed-zero {
  font-variant-numeric: slashed-zero;
}

.lining-nums {
  font-variant-numeric: lining-nums;
}

.oldstyle-nums {
  font-variant-numeric: oldstyle-nums;
}

.proportional-nums {
  font-variant-numeric: proportional-nums;
}

.tabular-nums {
  font-variant-numeric: tabular-nums;
}

.diagonal-fractions {
  font-variant-numeric: diagonal-fractions;
}

.stacked-fractions {
  font-variant-numeric: stacked-fractions;
}

// Letter spacing

.tracking-tighter {
  letter-spacing: -0.05em;
}

.tracking-tight {
  letter-spacing: -0.025em;
}

.tracking-normal {
  letter-spacing: 0em;
}
.tracking-wide {
  letter-spacing: 0.025em;
}

.tracking-wider {
  letter-spacing: 0.05em;
}

.tracking-widest {
  letter-spacing: 0.1em;
}

// Line height

.leading-3 {
  line-height: 1.2rem;
}

.leading-4 {
  line-height: 1.6rem;
}

.leading-5 {
  line-height: 2rem;
}

.leading-6 {
  line-height: 2.4rem;
}

.leading-7 {
  line-height: 2.8rem;
}

.leading-8 {
  line-height: 3.2rem;
}
.leading-9 {
  line-height: 3.6rem;
}

.leading-10 {
  line-height: 4rem;
}

.leading-none {
  line-height: 1;
}
.leading-tight {
  line-height: 1.25;
}

.leading-snug {
  line-height: 1.375;
}

.leading-normal {
  line-height: 1.5;
}

.leading-relaxed {
  line-height: 1.625;
}

.leading-loose {
  line-height: 2;
}

// List style type

.list-none {
  list-style-type: none;
}

.list-disc {
  list-style-type: disc;
}

.list-decimal {
  list-style-type: decimal;
}

// List style position

.list-inside {
  list-style-position: inside;
}

.list-outside {
  list-style-position: outside;
}
