// Colors

$red: #f44336;
$pink: #e91e63;
$purple: #9c27b0;
$deep-purple: #673ab7;
$indingo: #3f51b5;
$blue: #2196f3;
$light-blue: #03a9f4;
$orange: #ff9800;
$deep-orange: #ff5722;
$brown: #795548;
$grey: #9e9e9e;
$blue-grey: #607d8b;
$blue-yonder: #4f759b;
$green: #4caf50;
$light-green: #8bc34a;
$lime: #cddc39;
$yellow: #ffeb3b;
$amber: #ffc107;
$cyan: #00bcd4;
$teal: #009688;
$white: #fff;
$black: #000000;
$transparent: transparent;

// Anothers

$success: #00a65a;
$info: #17a2b8;
$warning: #f89c09;
$danger: #dd3d31;

// Light theme

$light-color: #212529;
$light-second-color: #727475;
$light-background: #fdfdfd;
$light-second-background: #eeeeee;

// Dark theme

$dark-color: #d4caca;
$dark-second-color: #f5f6fa;
$dark-background: #23242d;
$dark-second-background: #181818;

// List

$colors-list: (
  "red": $red,
  "pink": $pink,
  "purple": $purple,
  "deep-purple": $deep-purple,
  "indingo": $indingo,
  "blue": $blue,
  "light-blue": $light-blue,
  "orange": $orange,
  "deep-orange": $orange,
  "brown": $brown,
  "grey": $grey,
  "blue-grey": $blue-grey,
  "blue-yonder": $blue-yonder,
  "green": $green,
  "light-green": $light-green,
  "lime": $lime,
  "yellow": $yellow,
  "amber": $amber,
  "cyan": $cyan,
  "teal": $teal,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
);
