// Scrollbar

.scrollbar-grey {
  &::-webkit-scrollbar {
    background: transparent;
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: #8a9096;
    border-radius: 0.4rem;
  }
}

// Variables

:root {
  --grid-gutter-width: 0;
  --gutter-x: 0;
  --gutter-y: 0;
}

// Default

html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

*,
*::after,
*::before {
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

a {
  font-size: 1.6rem;
  display: inline-block;
  cursor: pointer;

  &,
  &:visited {
    color: inherit;
  }
}

img {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  display: inline-block;
}

canvas {
  width: 100%;
  min-width: 576px;
  max-width: 100%;
  height: auto;
  min-height: 300px;
}

form {
  width: 100%;
}

p {
  font-size: 1.6rem;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.6rem;
}
